@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align:left;
  display:block;
}

.create input, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display:block;
}

.idea-content 
{
  width: 300px;
  height: 200px;
}

.create button{
  background: #f1356d;
  color: #fff;
  border:0;
  padding: 8px;
  border-radius: 8px;
  cursor:pointer;
}

.user-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.user-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.user-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.user-preview a{
  text-decoration: none;
}
.search{
  background: #f1356d;
  color: #fff;
  border:0;
  padding: 8px;
  border-radius: 8px;
}
.idealist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 60%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

.idealist form {
  display: flex;
  gap: 5px;
}

.idealist form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.idealist form * {
  font-size: 15px;
}
.ideacreate {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.term-conditions{
  text-align: left;
}
.ideacreate label {
  text-align:left;
  display:block;
}

.ideacreate input, .ideacreate select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display:block;
}
.agree-check{
  text-align: left;
  align-items:flex-start;
  display:inline-block;
}